<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/jpg" th:src="@{/imagenes/escudo.png}">
    <title>Municipalidad Punta Hermosa</title>
    <link th:href="@{/styles/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link th:href="@{/styles/bootstrap/layout.css}" rel="stylesheet"/>
</head>

<body>
<!-- MENU START  -->
<nav th:fragment="menu" class="navbar navdar-expand-lg bg-primary navbar-dark">
    <!-- NAV CONTAINER START -->
    <div class="container-fluid">
        <a href="" class="navbar-brand text-info fw-semibold fs-4" ><img th:src="@{/imagenes/escudo.png}" width="50" height="50"><font  color="white" size="4.5" >Municipalidad de Punta Hermosa</font></a>

        <!-- NAV BUTTON  -->
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- OFFCANVAS MAIN CONTAINER START -->
        <section class="offcanvas offcanvas-start bg-primary" id="menuLateral" tabindex="-1">
            <div class="offcanvas-header" data-bs-theme="dark">
                <h5 class="offcanvas-title
                    text-info"><img th:src="@{/imagenes/escudo.png}" width="50" height="50"><font  color="white" size="4.5" >Municipalidad de Punta Hermosa</font></h5>
                <button
                        class="btn-close"
                        type="button"
                        aria-label="Close"
                        data-bs-dismiss="offcanvas"
                ></button>
            </div>
            <!-- OFF CANVAS MENU LINKS  START-->
            <div
                    class="offcanvas-body d-flex flex-column justify-content-between px-0"
            >
                <ul class="navbar-nav fs-0 justify-content-evenly">
                    <li class="nav-item p-4 py-md-1"><a href="" class="nav-link"><i class="bi bi-tv px-3 texet-info fs-3 "><b><font  color="white"  face="Arial" size="6" >Tickets</font></b></i ></a></li>
                    <li class="nav-item p-4 py-md-1"><a href="" class="nav-link"><i class="bi bi-person-video2 px-3 texet-info fs-2"><b><font  color="white"  face="Arial" size="6">Asesor</font></b></i></a></li>
                    <li class="nav-item p-4 py-md-1"><a href="" class="nav-link"><i class="bi bi-person-vcard px-3 texet-info fs-2"><b><font  color="white"  face="Arial" size="6">Operador</font></b></i></a></li>
                    <li class="nav-item p-4 py-md-1"><a href="" class="nav-link"><i class="bi bi-person-video3 px-3 texet-info fs-2"><b><font  color="white" face="Arial" size="6">Administrador</font></b></i></a></li>
                    <li class="nav-item p-4 py-md-1"><a href="" class="nav-link"><i class="bi bi-box-arrow-right px-3 texet-info fs-2"><b><font  color="white" face="Arial" size="6">Salir</font></b></i></a></li>
                    <br>
                    <div class="wrapper">
                        <center>
                            <a href="https://api.whatsapp.com/send/?phone=981555862&text&type=phone_number&app_absent=0 " target="_parent"><i class="bi bi-whatsapp px-2 texet-info fs-4"></i></i></a>
                            <a href="https://www.instagram.com/municipalidadpuntahermosa/" target="_parent"><i class="bi bi-instagram px-2 texet-info fs-4"></i></i></a>
                            <a href="https://www.facebook.com/munipuntahermosa/ " target="_parent"><i class="bi bi-facebook px-2 texet-info fs-4"></i></a>
                            <a href="https://www.tiktok.com/discover/playa-blanca-punta-hermosa-peru " target="_parent"><i class="bi bi-tiktok px-2 texet-info fs-4"></i></a>
                            <a href="https://twitter.com/PuntaHermosa1 " target="_parent"><i class="bi bi-twitter px-2 texet-info fs-4"></i></a>


                        </center>
                    </div>

                </ul>



            </div>
        </section>
        <!-- OFFCANVAS MAIN CONTAINER END  -->
    </div>
</nav>
</body>
</html>